.radio__label {
    margin-bottom: 8px;
	color: var(--black);
	font-weight: 600;
}

.radio__input {
    display: flex;
    height: 36px;
}

.radio__input .radio {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.radio input {
    margin-right: 8px;
    height: 20px;
    width: 20px;
}