.popup__action__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.list-error {
    list-style-type: disc;
    margin-left: 12px;
}

li {
    font-size: 14px;
    font-weight: 400;
}