.overlay {
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    /* display:none; */
}

.dialog__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dialog {
    width: 800px;
    max-height: 95%;
    background: #fff;
    border-radius: var(--border-radius);
    overflow: auto; 
    
    
    
}

.dialog__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.dialog__header__action {
    display: flex;
    align-items: center;
}

.dialog__title {
    display: flex;
    align-items: center;
}

.dialog__title__name, .dialog__close {
    color: #1F1F1F;
    font-weight: 700;
    font-size: 20px;
}

.dialog__title__name {
    margin-right: 12px;
}

.dialog__content {
    color: #1F1F1F;
    font-size: 14px;
}

.dialog__action {
    border-top: 1px solid #cccccc;
    background: #F5F5F5;
    padding: 12px 24px;
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}