.main {
    /* position: absolute;
    top: 56px;
    right: 0;
    left: 200px;
    bottom: 48px; */
}

.main__container {
    padding: 24px 24px 48px 24px;
}


.layout {
    display: flex;
}

.layout__appbar {
    width: calc(100% - 200px);
}

